*{
    box-sizing: border-box;
}
h1, h2, h3{
    font-family: 'Inika', serif;
    color: #E6BB00;
}
h5{
    font-family: 'Jost', sans-serif;
    color: white;
    margin-top: 1em;
}
p{
    font-family: 'Jost', sans-serif;
    color: white;
    line-height: 200%;
    margin-top: 1em;
}
.button{
    margin-top: 3em;
}
.button a{
    font-family: 'Inika', serif;
    padding: 10px 10px;
    background-color: #EBF095;
    text-align: center;
    font-size: large;
    text-decoration: none;
    color: black;
}
.button a:hover {
    background-color: #ffffff;
}
.material-symbols-outlined{
    margin-right: 5pt;
    vertical-align: middle;
}

header{
    max-width: 1440px;
    margin: 0;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}


img{
    max-height: auto;
    max-width: 100%;
    vertical-align: middle;
}
#the-book main img{
    max-width: 90%;
}

#other-books main img{
    max-width: 50%;
}
#buy-now main img{
    max-width: 50%;
}

#logo{
    max-width: 80%;
}

#header{
    padding-top: 2em;
    padding-bottom: 2em;
    border-bottom: .7em solid #7A4C02;
}

main .container{
    border-bottom: .7em solid #7A4C02;
}

.row > .leftcolumn{
    background-color: #024078;
    padding: 10%;
    margin: 0;
    
}
.row > .rightcolumn{
    background-color: #C7DEF2;
    text-align: center;
    padding: 5%;
}

#first-section{
    text-align: center;
}

.reviews{
    padding: 5%;
}
.reviews > h2{
    color: #7A4C02;
}
.reviews > p{
    color: black;
}
.reviews > .quoted{
    color: #7A4C02;
    line-height: 0;
}
#buy-now .button{
    margin-top: 2em;
}

/*Logo*/
#header img{
    margin: 0;
    padding: 0;
}


/*nav section*/
#primary-nav{
    overflow: hidden;
    text-align: right;
}

#primary-nav ul{ /*ul contains the listed items*/
    margin: 0;
    padding: 0;
}

#primary-nav li{
    list-style-type: none; /*removes bullet points*/
    display: inline-block; /* displays list horizontally*/
    margin: 0;
    padding: 0;
}
#primary-nav li a{
    padding: 10px 20px; /*better to put padding on the hyperlink*/
    text-decoration: none;
    font-size: large;
    color: black;
    font-family: 'Inika', serif;
}
#primary-nav a:hover {
    color: #541919;
}

/*hamburger*/
#toggle-nav{
    display: none;
    max-width: 3.5em;
    
}

/*active nav buttons*/
#the-book #primary-nav li:nth-child(1) a{
    color: #541919;
    text-decoration: underline;
}
#author #primary-nav li:nth-child(2) a{
    color: #541919;
    text-decoration: underline;
}
#other-books #primary-nav li:nth-child(3) a{
    color: #541919;
    text-decoration: underline;
}
#buy-now #primary-nav li:nth-child(4) a{
    color: #541919;
    text-decoration: underline;
}



/* This media query defines how the page displays beneath a breakpoint */
@media (max-width: 767px){
    #toggle-nav{
        display: block; /* display button beneath breakpoint */
        position: absolute;
        right: 10px;
        top: -15px;
        cursor: pointer;
    }
    #primary-nav{
        max-height: 0;
        padding: 0%;
        border-left: 1px solid black;
    }
    #primary-nav li{
        display: block;
        text-align: left;
    }
    #primary-nav li a{
        font-size: 95%;
    }

    /* Here, we override the rule when the body has a class of nav-open */
    body.nav-open #primary-nav{
        max-height: 400px;
    }
    .mobile-right{
        position: relative;
    }
    #logo{
        max-width: 100%;
    }
    .button{
        text-align: center;
    }
    h1, h2{
        text-align: center;
    }
}